@import url('https://fonts.googleapis.com/css?family=Mukta|PT+Serif');
/*font-family: 'Mukta', sans-serif;
font-family: 'PT Serif', serif;*/



html {
    scroll-behavior: smooth;
    
}

.row{
    margin: 0;
}

/*---------Header Styling ----------*/

.header-title {
    margin-top: .5em;
    margin-bottom: 0;
    color: white !important;
}

.header-paragraph {
    margin-top: 8em;
    color: white;
    margin-bottom: 0;
}

.slogan{
    margin: 0;
}


.jumbotron {
    padding: 0;
    margin: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../vendor/images/header-image.jpg") no-repeat center center fixed;
    background-size: cover;
    border-bottom: solid;
    border-color: silver;
    font-size: 6em;
    color: white;
    height: 100vh;
}




/*---START OF BODY-----*/

body {
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    padding-top: 50px;
    color: black;
    font-size: 18px;
    text-align: justify;
    background-color: #f4f4f4;
}

h1,
h2,
h3 {
    font-family: 'Mukta', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

p {
    font-family: 'Mukta', serif;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
}


.contact-us-intro-text{
    text-align: center;
}
.general-paragraph {
    text-align: justify;
}


/*----END OF BODY------*/

/*-------START OF NAV-------*/

.navbar-nav{
    margin: 0;
}

.navbar-nav>li>a {
    text-align: center;
    font-size: 1em;
    text-transform: capitalize;
    margin: .5em;
    padding: 1em;
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #fec606;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #fec606;
}

.navbar-brand {
    font-size: 2em;
    margin-top: 0.5em;
    padding-top: .2em;
    padding-left: 1em;
    color: white !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.navbar-brand:hover {
    color: #fec606 !important;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 20px 20px;
    margin-top: 8px;
    margin-right: 45px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#myNavbar {
    border-bottom: solid;
    border-color: #9a5688;
    padding: 0;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: transparent;
}

.navlogo {
    margin: .4em;
    padding: 0;
}

.navbar-collapse {
    border: none !important;
}

a.active {
    color: #fec606 !important;
}


/*-------END OF NAV --------*/

/*-----------START OF FOOTER---------------*/

.footer-container {
    text-align: center;
    background-color: #101010;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0;
    border-top: solid;
    border-color: silver;
}

.social-footer {
    color: silver;
}

.footer-text {
    color: silver;
}

.social-links {
    font-size: 2em;
    text-align: center;
    background-color: #101010;
    margin: 0;
    padding-bottom: .5em;
}

.fa {
    color: silver;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fa:hover {
    color: #fec606;

}

.container.subscribe-container {
    text-align: center;
    margin-top: 2.5em;
    align-items: center;
}

/*-----------END OF FOOTER---------------*/

/*---------START OF BUTTON EFFECTS------*/

.btn {
    
    background-color: white;
    border-radius: 25px;
    border: 3px solid;
    color: #f20025;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 0;
}

.btn:hover {
    background-color: #f20025;
    border-radius: 25px;
    border: 3px solid grey;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px;
    cursor: pointer;
}

.suscribe-btn{
    margin-bottom: 34px;
}

.fa-arrow-down {
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    border-color: white;
    margin-top: 0;
    text-shadow: none;
    font-size: 30px;
    -webkit-animation-name: flashing;
    animation-name: flashing;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    
}

@-webkit-keyframes flashing {
    from {
        color: transparent;
        border-color: #9a5688;
    }

    to {
        color: #9a5688;
        border-color: white;
    }
}

@keyframes flashing {
    from {
        color: transparent;
        border-color: #9a5688;
    }

    to {
        color: #9a5688;
        border-color: white;
    }
}





/*---------END OF BUTTON EFFECTS------*/

/*------START OF CONTACT US SECTION-------*/

.contact-us-form {
    margin-left: auto;
    margin-right: auto;

}

.form-control {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 2.5em;
}

.contact-form-address-section-border {
    border-style: solid;
    border-color: white;
    padding-top: 2em;
    padding: 1.5em;
    background: white;
    height: 600px;
    -webkit-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
}

.contact-form-border {
    padding-top: 2em;
    padding: 1.5em;
    background: white;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    -webkit-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
}


/*--------END OF CONTACT US SECTION-------*/

/*--------CHARTS CAROUSELL AND API--------*/

/*-----------BOOTSTRAP PLACEMENT-------*/

#the-slider {
    text-align: center;
    font-size: large;
    max-width: 100%;
    display: block;

}


#map {
    margin: 3px;
    min-height: 350px;
    width:100%;
    background-color: white;
    text-align: center;
    font-size: large;
    
}

.video {
    margin: 3px;
    min-height: 300px;
    max-width:100%;
    text-align: center;
}

.about-us-text {
    margin: 0;
    padding: 0;
    width:100%;
    background-color: white;
   /* -webkit-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);*/
}



.slider-image{
    margin: 5px;
    padding: 0;
    width: 100%;
    max-height: auto;
    background-color: white;
}

.about-us-row{
    padding-bottom: 2.5em;
}

#video{
    padding-top: 7px;
    max-height: 300px;
    background-color: white;
}

.google-maps-section{
    height: 100%;
    margin-top: 5em;
    background-color: white;
    box-shadow: 3px 10px 48px -11px rgba(0, 0, 0, 0.75);
    padding:1.5em;
    
}

.carousel-control.left,
.carousel-control.right{
    background-image: none;
}

.about-us-row {
    padding-bottom: 2.5em;
    background-color: white;
    box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    margin-top: 2.5em;
    padding-top: .5em;
}

.carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    min-height: 300px;
}

.dashboard{
    background-color: white;
    padding-bottom: 2.5em;
    background-color: white;
    box-shadow: 3px 10px 48px -11px rgba(0, 0, 0, 0.75);
    margin-top: 2.5em;
    padding-top: 2.5em;

}

.x-axis-label{
    padding-top: 6px;
}
