@import url('https://fonts.googleapis.com/css?family=Mukta|PT+Serif');
/*font-family: 'Mukta', sans-serif;
font-family: 'PT Serif', serif;*/

html {
    scroll-behavior: smooth;

}

.row {
    margin: 0;
}

/*---------Header Styling ----------*/

.header-title {
    margin-top: .5em;
    margin-bottom: 0;
    color: white !important;
}

.header-paragraph {
    margin-top: 20%;
    color: white;
    margin-bottom: 0;
}

.slogan {
    margin: 0;
}


.jumbotron {
    padding: 0;
    margin: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../vendor/images/header-image.jpg") no-repeat center center fixed;
    background-size: cover;
    border-bottom: solid;
    border-color: silver;
    font-size: 6em;
    color: white;
    height: 100vh;
}




/*---START OF BODY-----*/

body {
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    padding-top: 50px;
    color: black;
    font-size: 18px;
    text-align: justify;
    background-color: #f4f4f4;
}

h1,
h2,
h3,
h4 {
    font-family: 'Mukta', sans-serif;
    text-transform: capitalize;
    text-align: center;
}


p {
    font-family: 'Mukta', serif;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 1px;
    color: black;
}


.contact-us-intro-text {
    text-align: center;
}

.general-paragraph {
    text-align: justify;
}


/*----END OF BODY------*/

/*-------START OF NAV-------*/

.navbar-nav {
    margin: 0;
}

.navbar-nav>li>a {
    text-align: center;
    font-size: 1em;
    text-transform: capitalize;
    margin: .5em;
    padding: 1em;
    padding-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #fec606;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #fec606;
}

.navbar-brand {
    font-size: 2em;
    margin-top: 0.5em;
    padding-top: .2em;
    padding-left: 1em;
    color: white !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.navbar-brand:hover {
    color: #fec606 !important;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 20px 20px;
    margin-top: 8px;
    margin-right: 45px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#myNavbar {
    border-bottom: solid;
    border-color: #9a5688;
    padding: 0;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: transparent;
}

.navlogo {
    margin: .4em;
    padding: 0;
}

.navbar-collapse {
    border: none !important;
}

a.active {
    color: #fec606 !important;
}


/*-------END OF NAV --------*/

/*-----------START OF FOOTER---------------*/

.footer-container {
    text-align: center;
    background-color: #101010;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0;
    border-top: solid;
    border-color: silver;
}

.social-footer {
    color: silver;
}

.footer-text {
    color: silver;
}

.social-links {
    font-size: 2em;
    text-align: center;
    background-color: #101010;
    margin: 0;
    padding-bottom: .5em;
}

.fa {
    color: silver;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.fa:hover {
    color: #fec606;

}

.container.subscribe-container {
    text-align: center;
    margin-top: 2.5em;
    align-items: center;
}

/*-----------END OF FOOTER---------------*/

/*---------START OF BUTTON EFFECTS------*/

.btn {

    background-color: rgba(0, 0, 0, 0, 0.2);
    border-radius: 25px;
    border: 3px solid;
    color: #f20025;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 0;
    display: block;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    background-color: #f20025;
    border-radius: 25px;
    border: 3px solid grey;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 5px;
    cursor: pointer;
    display: block;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.suscribe-btn {
    margin-bottom: 34px;
}

.fa-arrow-down {
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    border-color: white;
    text-shadow: none;
    font-size: 30px;
    position: absolute;
    bottom: -15vh;
    /* right: 46%; */
    -webkit-animation-name: flashing;
    animation-name: flashing;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 40px;

}

#table-buttons,
.reset-btn {
    float: none;
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
    margin-top: 0.5em;
}

.reset-btn {
    margin: 0;
    padding: 1em;
}


@-webkit-keyframes flashing {
    from {
        color: transparent;
        border-color: #9a5688;
    }

    to {
        color: #9a5688;
        border-color: white;
    }
}

@keyframes flashing {
    from {
        color: transparent;
        border-color: #9a5688;
    }

    to {
        color: #9a5688;
        border-color: white;
    }
}

a.btn {
    margin-top: .5em;
}

button#next,
button#last {
    display: inline-block;
}



/*---------END OF BUTTON EFFECTS------*/

/*------START OF CONTACT US SECTION-------*/

.contact-us-form {
    margin-left: auto;
    margin-right: auto;

}

.section-headings {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.form-control {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 2.5em;
}

.contact-form-address-section-border {
    border-style: solid;
    border-color: white;
    padding-top: 2em;
    padding: 1.5em;
    background: white;
    height: 600px;
    -webkit-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    margin-bottom: 2em;
}

.contact-form-border {
    padding-top: 2em;
    padding: 1.5em;
    background: white;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    -webkit-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
}



/*-----------BOOTSTRAP PLACEMENT-------*/

#status {
    padding-top: 0;
    min-height: 270px;
}



#the-slider {
    text-align: center;
    font-size: large;
    max-width: 100%;
    display: block;

}


#map {
    margin: 3px;
    margin-top: 10%;
    min-height: 250px;
    width: 80%;
    background-color: white;
    text-align: center;
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
}



video {
    margin: 2px;
    max-width: 75%;
    height: auto;
    text-align: center;
    border-style: solid;
    border-color: silver;
    margin-top: 2.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-us-text {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}



.slider-image {
    margin: 5px;
    padding: 0;
    width: 95%;
    max-height: auto;
    background-color: white;
}



.google-maps-section {
    height: 100%;
    margin-top: 1em;
    background-color: white;
    box-shadow: 3px 10px 48px -11px rgba(0, 0, 0, 0.75);
    padding: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    vertical-align: middle;
}



section.container.google-maps-section.center-block {
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;

}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.about-us-row {
    padding-bottom: 2.5em;
    background-color: white;
    box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    margin-top: 2.5em;
    padding-top: .5em;
    min-height: 550px;
}

.about-us-row2 {
    padding-bottom: 2.5em;
    background-color: white;
    box-shadow: 0px 10px 48px -11px rgba(0, 0, 0, 0.75);
    margin-top: 2.5em;
    padding-top: .5em;
}

.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dashboard {
    background-color: white;
    padding-bottom: 2.5em;
    background-color: white;
    box-shadow: 3px 10px 48px -11px rgba(0, 0, 0, 0.75);
    margin-top: 2.5em;
    padding-top: 2.5em;

}

.dashboard {
    margin: 1em;
}

.chart-title {
    text-align: center;
    font-weight: bold;
}

.x-axis-label {
    padding-top: 6px;
}

div.dc-chart {
    float: none;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 0;
    margin: 0;
}

#preloader {
    background-image: url(../vendor/images/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;

}

th.dc-table-head {
    font-size: 0.8em;
    padding: 0!important;
}

td.dc-table-label {
    font-size: 0.7em;
    padding: 0!important;
}

td.dc-table-column {
    font-size: 0.6em;
    padding: 3px!important;
}

img.rotate-screen-img.charts {
    max-width: 200px;
    max-height: 300px;
    padding-top: 2em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;


}

/*-----------Media Queries-------*/

@media (max-width: 450px) {
    p {
        font-size: 0.8em;
    }
    .navbar-brand {
        font-size: 1.3em;
    }
    h3 {
        font-size: 0.15em;
    }
    .footer-text {
        font-size: 0.78em;
    }
    .social-links {
        font-size: 1.15em;
    }

    th.dc-table-head {
        font-size: 0.7em;
        text-align: center;
    }
    .dc-data-count.dc-chart {
        font-size: 0.8em;
        padding: 0;
        margin: 0;
    }
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        max-width: 80%;
    }
    .header-title {
        margin-top: 2em;
    }
    .slogan {
        margin-top: 0.6em;
    }


}

@media (min-width: 451px) and (max-width:540px) {}

@media (min-width: 551px) and (max-width:768px) {
    .slogan {
        font-size: 0.2em;
    }
    .navbar-brand {
        font-size: 1.5em;
    }
    .header-paragraph {
        margin-top: 4%;
        color: white;
        margin-bottom: 0;
        font-size: 0.17em;
    }
    a#contact-us-button {
        display: block;
        margin-top: 2em;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    }
    h1.header-title {
        margin-top: 1em;
    }
    p {
        font-size: 0.9em;
    }
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        max-width: 60%;
    }
}

@media (min-width: 769px) and (max-width:1024px) {}

@media (min-width: 1025px) and (max-width:1200px) {}

@media (min-width: 1201px) {}

@media (orientation:landscape) {
    .hide-on-landscape {
        display: none;
    }
}

@media (orientation:portrait) {
    .hide-on-portrait {
        display: none;
    }
}


/*
.slogan {
        font-size: 0.2em;
    }
    .navbar-brand {
        font-size: 1.5em;
    }
    .header-paragraph {
        margin-top: 4%;
        color: white;
        margin-bottom: 0;
        font-size: 0.17em;
    }
    a#contact-us-button {
        display: block;
        margin-top: 1em;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    }
    h1.header-title {
        margin-top: 0.9em;
    }
    p {
        font-size: 0.8em;
    }

    .fa-arrow-down {
        bottom: -15vh;
    }

    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        max-width: 58%;
        min-height: 200px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    video {
        margin: 3px;
        max-width: 64%;
        height: auto;
        text-align: center;
        border-style: solid;
        border-color: silver;
        border-radius: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }

    .Address-info {
        font-size: 1em;
    }

}*/
